<h1>Groceries</h1>
<h2>Add to List</h2>
<form action='/groceries' method='post'>
    <input type="text" name="listName" placeholder="Enter a store">
    <input type="text" name="itemName" placeholder="Enter your item">
    <input type="submit">
</form>
<ul>

</ul>